.custom-form-item .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff0000; /* Change the color to your desired value */
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
    border: 3px solid white;
    
  }
  .custom-form-item .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before:hover {
    display: inline-block;
    margin-inline-end: 4px;
    color: yellow; /* Change the color to your desired value */
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
    border: 3px solid white;    /* Add other styles as needed */
  }

  label::before {
    border: 3px solid white;

  }
  
  .custom-form-item.ant-form-item-has-error {
    /* background-color: #ffcccc; */
     /* Change the background color to your desired value */
    /* border: 1px solid #ff0000; */
     /* Change the border color to your desired value */
  }
  
  .custom-button {
    background-color: #23408B; /* Change background color */
    color: white; /* Change text color */
    align-items: center;
    justify-content: center;
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
  /* Apply hover style to the required indicator */

